body {
    font: 16px/1 Helvetica, sans-serif;
}


#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    height: 160px;
}

.photo,
.photo img {
    min-width: 160px;
    max-width: 240px;
}

.photo img:hover {
    opacity: 0.5
}

.photo i {
    position: absolute;
    /*top: 45%;*/
    /*left: 45%;*/
    transform: translate(-45%, -45%);
    display: none;
}


.photo:hover i {
    display: block;
    z-index: 500;
}
